#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  margin: 0 var(--horizontal-space) 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: -1;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 2px;
}

.friends-screen__channel,
.friends-screen__friends-list {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 10px;
}

.friends-screen_channel-header,
.friends-screen_friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--grey);
}

.friends-screen_friends-header div span:first-child {
  margin-right: 3px;
}

#splash-screen {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-size: 100px;
  z-index: 1000;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1.5s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
