.no-mobile {
  position: fixed;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .no-mobile {
    display: none;
  }
}
